@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ChunkFive';
    src: url('/public/fonts/chunkfive.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBold';
    src: url('/public/fonts/FuturaBT-Bold.woff2') format('woff2'),
    url('/public/fonts/FuturaBT-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBook';
    src: url('/public/fonts/Futura-Book.woff2') format('woff2'),
    url('/public/fonts/Futura-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


#app {
    height: 100vh;
}

.cabin, .cabin-double {
    border: 10px solid #373a36;
    overflow: hidden;
}

.cabin-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    overflow: hidden;
    position: relative;
    @apply text-DEFAULT
}

.cabin-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border-radius: 50%;
    color: #0277BD;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cabin-empty:hover .cabin-icon {
    opacity: 1; /* Show the icon on hover */
}

.dog-photo {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dog-name {
    height: 25%;
    white-space: nowrap;
}
