@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato'; /* Define the font name */
    src: url('/public/fonts/Lato/Lato-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Specify the weight */
    font-style: normal; /* Specify the style */
}

@font-face {
    font-family: 'Oswald'; /* Define the font name */
    src: url('/public/fonts/Oswald-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Specify the weight */
    font-style: normal; /* Specify the style */
}

@font-face {
    font-family: 'Magnolia'; /* Define the font name */
    src: url('/public/fonts/MissMagnolia-Script.otf') format('opentype'); /* TTF format */
    font-weight: normal; /* Specify the weight */
    font-style: normal; /* Specify the style */
}

.cabin {
    background-color: #f0f0f0;
    border-color: #373a36;
    border-style: solid;
    overflow: hidden;
}

.cabin-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: black;
    overflow: hidden;
}

.dog-boarder, .dog-daycamper {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 100%;
    height: 100%;
    font-size: 1vw;
    line-height: 1vw;
    padding: 0;
    color: white;
    text-align: center;
    overflow: hidden;
}

.dog-boarder {
    background-color: #44687d;
}

.dog-daycamper {
    background-color: #50C878;
}

.dog-photo {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dog-name {
    font-size: 1.5vw;
    line-height: 1.5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
